[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python-headless = "*"
jupyter = "*"
gym = "*"
matplotlib = "*"
pandas = "*"
tensorflow = "==1.15.0"
kaggle-environments = "*"
stable-baselines = "*"

[dev-packages]

[requires]
python_version = "3.7"
